* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --font-headings: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --bg-color: #050505;
  --blue: #47c3ff;
  --silver: #c9d6df;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
}

/* Nav */

header {
  background-color: var(--bg-color);
  color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--silver);
}

#logo {
  font-family: var(--font-headings);
  color: var(--blue);
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 2rem;
}

#logo-color {
  color: var(--silver);
}

#nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  list-style: none;
}

#nav-links a {
  position: relative;
  font-family: var(--font-headings);
  font-weight: 600;
  color: var(--blue);
  text-decoration: none;
}

#nav-links a:hover {
  color: var(--silver);
}

#nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--silver);
  box-shadow: 0 0 1px var(--silver);
  transition: width 0.3s ease;
}

#nav-links a:hover::after {
  width: 100%;
}

#nav-links a:active::after {
  width: 100%;
}

/* About */

#about {
  background-color: var(--bg-color);
  color: var(--silver);
  padding: 4rem 2rem;
}

#about .container {
  display: flex;
  gap: 2rem;
  width: 90%;
  max-width: 950px;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

#about-text {
  text-align: left;
  font-family: var(--font-body);
  max-width: 430px;
}

#about-text p {
  font-size: 1rem;
}

#about-name {
  font-size: 3rem;
  color: var(--blue);
  font-family: var(--font-headings);
}

#about-intro {
  font-size: 1.25rem;
  max-width: 380px;
  line-height: 1.6;
  margin-top: 0.75rem;
}

#about-img {
  display: flex;
  justify-content: center;
}

#about-img,
#about-text {
  flex: 1;
}

#about-img img {
  width: 320px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid var(--blue);
  box-shadow: 0 0 15px rgba(79, 195, 255, 0.45);
}
